:root {
  --space-s: 8px;
  --space-m: 12px;
  --space-xm: 16px;
  --space-l: 24px;
  --space-b: 36px;

  --size-xs: 12px;
  --size-s: 14px;
  --size-d: 16px;
  --size-l: 20px;
  --size-xl: 24px;
  --size-b: 36px;

  --color-border: #dee2e6;
  --color-border-light: #d3dee9;
  --color-primary: rgb(69, 69, 255);
  --color-white: #ffffff;
  --color-title: #212529;
  --color-text: #343a40;
  --color-mute: #6c757d;

  --border-radius: 12px;
  --border-radius-s: 4px;

  --weigth-title: 600;
  --weigth-text: 400;

  --page-width: 100px;
}

/* ====================================================== */

.page {
  background: var(--color-white);
  padding: 0 15px;

  display: flex;
  justify-content: center;
}

.page_content {
  max-width: 1000px;
  width: 100%;

  display: flex;
  flex-direction: column;

  gap: 80px;
}

/* ====================================================== */

.header {
  padding: var(--space-l, 24px) 0;
  border-bottom: 1px solid var(--color-border, #dee2e6);

  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 17px;
  color: var(--color-white);
  padding: 6px;
  background: var(--color-primary);

  width: 24px;
  height: 24px;
  border-radius: calc(var(--border-radius) / 2);

  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
}

.nav_inline {
  gap: var(--space-l, 24px);
}

.nav_vertical {
  gap: var(--space-xm, 12px);
  flex-direction: column;
}

.nav_link {
  color: var(--color-text);
  font-size: var(--size-d, 16px);
  text-decoration: none;

  line-height: 100%;
}

.nav_link:hover {
  text-decoration: underline;
  color: var(--color-primary);
}

.footer {
  padding: var(--space-l, 24px) 0;

  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--color-border, #dee2e6);
}

.footer_copyright {
  font-size: var(--size-s, 14px);
  color: var(--color-text);

  display: block;
  margin-top: var(--space-l, 24px);
}

.footer_title {
  font-size: var(--size-l, 20px);
  color: var(--colot-title, #212529);

  display: block;
  margin-bottom: var(--space-l, 24px);

  font-weight: var(--weigth-title, 500);
}

.main {
  display: flex;
  width: 100%;
  align-items: flex-start;
  gap: var(--space-l);
}

.info {
  max-width: 620px;
  width: 100%;

  padding: var(--space-l);

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.info_title {
  font-size: 56px;
  color: var(--colot-title);
  font-weight: var(--weigth-title);
}

.inf {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
  align-items: flex-start;

  position: relative;
  padding-right: var(--space-b);
}

.inf_text {
  font-size: var(--size-xl);
  color: var(--color-title);
  font-weight: var(--weigth-text);
  width: 400px;
}

.form {
  max-width: 340px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid var(--color-border);
  padding: var(--space-l);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form_info {
  text-align: center;
  font-size: var(--size-s);
  font-weight: var(--weigth-text);
  color: var(--color-mute);
  border-top: 1px solid var(--color-border);
  padding: var(--size-s) 0;
}

.form_button {
  text-align: center;
  padding: 12px;
  background-color: var(--color-primary);
  color: var(--color-white);

  transition: opacity 0.7s;
}

.form_button:hover {
  opacity: 0.7;
}

.form_button:active {
  opacity: 0.3;
}

.form_input_list {
  display: flex;
  gap: var(--space-m);
  flex-direction: column;
}

.form_input {
  padding: var(--space-xm);
  border: 1px solid #ced4da;
  border-radius: var(--border-radius-s);
}

.form_input::placeholder {
  color: var(--color-title);
  font-size: var(--size-d);
}

.form_checkbox {
  display: flex;
  gap: var(--space-s);
  align-items: center;
}

.form_checkbox > input {
  display: none;
}

.form_checkbox > input ~ div {
  border: 1px solid #767676;
  border-radius: 4px;
  height: 13px;
  width: 13px;
}

.form_checkbox > input:checked ~ div {
  border-color: var(--color-primary);
  background-color: var(--color-primary);
}

.form_checkbox > label {
  color: var(--color-title);
  font-size: var(--size-d);
  cursor: pointer;
}

.updates {
  background-color: var(--color-white);
  border-radius: var(--border-radius);

  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.05);
  padding: var(--space-l);

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.updates_title {
  font-size: var(--size-xl);
  color: var(--colot-title);

  padding-bottom: var(--space-m);
  border-bottom: 1px solid var(--color-border-light);
}
.upd {
  display: flex;
  align-items: start;
  gap: var(--space-m);
}

.upd_image {
  width: 32px;
  height: 32px;
}

.upd_content {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
}

.upd_name {
  font-size: var(--size-xs);
  color: var(--color-mute);
  font-weight: var(--weigth-title);
}

.upd_description {
  font-size: var(--size-d);
  color: var(--color-mute);
  font-weight: var(--weigth-text);

  padding-bottom: var(--space-m);
  border-bottom: 1px solid var(--color-border-light);
  width: 100%;
}
.upd_link {
  color: var(--color-primary);
  font-size: var(--size-s);
  font-weight: var(--weigth-text);
  text-decoration-line: underline;
}

.upd_link:hover {
  opacity: 0.7;
  border-color: var(--color-primary);
}

.badge_expirience {
  position: absolute;
  right: 0;
  top: 0;

  width: 90px;
  height: 53px;
  padding: var(--space-m) 0;
  border-radius: 70px;
  transform: rotate(30deg);
  background-color: #ff7347;
  color: var(--color-white);
  text-align: center;
  font-size: var(--size-b);
}

.expirience {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
  background-color: #f8f9fa;
  padding: var(--space-l);
  border-radius: var(--border-radius-s);
  position: relative;
}

.expirience_title {
  font-size: 42px;
  color: var(--colot-title);
}

.expirience_list {
  display: flex;
  gap: var(--space-l);
}

.expirience_list > div {
  border: 1px solid var(--color-border-light);
  border-radius: var(--border-radius);
  padding: var(--space-l);
  background-color: var(--color-title);
}

.expirience_list > div > strong {
  color: var(--color-white);
  font-weight: var(--weigth-title);
  font-size: 18px;
}

.expirience_list > div > p {
  color: #767676;
  font-size: var(--size-d);
  line-height: 150%;
  margin-top: var(--space-s);
}

.expirience > .expirience_list:nth-of-type(2) {
  flex-grow: 1;
  width: 100%;
}
